Manifest-Version: 1.0
MIDlet-Vendor: Mikhail Fedotov
MIDlet-Version: 4.27
MicroEdition-Configuration: CLDC-1.0
MIDlet-1: anyRemote, anyRemote.png, Controller
MIDlet-Name: anyRemote
MicroEdition-Profile: MIDP-2.0
MIDlet-Permissions-Opt: javax.microedition.io.Connector.bluetooth.clie
 nt,javax.microedition.io.Connector.comm,javax.microedition.io.Connect
 or.socket

